/* General styles */
body {
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
}

#cash {
	font-size: 24px;
}


#reset-cash {
	margin-top: 10px;
}

/* Spin button */
#spin {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#spin:hover {
  background-color: darkblue;
}
#spin:active{
  background-color: yellow;
 }

button {
  background-color: #222;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
}

button:hover {
  background-color: #555;
  cursor: pointer;
}




table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    justify-content: center;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #5c5c5c;
}

#paytable {
    margin: 20px auto;
    text-align: center;
}


#paytable {
  width: 20%; 
  margin-top: 10px;
}

/* Canvas element */
#slotmachine {
  padding: 10px;
  border: 5px solid #fff;
  background-color: #444;
  width: 720px; /* Width to accommodate three 200px wide images plus spacing */
  height: 220px; /* Height for 200px tall images plus some padding */
}

/* Slot machine container */
#testa {
  display: flex;
  justify-content: center;
}

/* Game container */
#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

/* Info container */
#info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Responsive layout */
@media (max-width: 768px) {
  #slotmachine {
    width: 90vw; /* 90% of the viewport width */
    height: auto; /* Maintain aspect ratio */
  }
}
